Repository infinitered/reactotron, pull requests merged in 2024-10, with the labels that each got.

#1508 fix(reactotron-react-native): new arch support
  apps/example-app/app/devtools/ReactotronConfig.ts
  lib/reactotron-react-native/src/helpers/getReactNativePlatformConstants.ts
  lib/reactotron-react-native/src/helpers/getReactNativeVersion.test.ts
  lib/reactotron-react-native/src/helpers/getReactNativeVersion.ts
  lib/reactotron-react-native/src/helpers/getReactNativeVersionWithModules.ts
  lib/reactotron-react-native/src/plugins/devTools.ts
  lib/reactotron-react-native/src/reactotron-react-native.ts
Labels: bug :beetle:, maintenance :wrench:

#1514 fix(.circleci): electronuserland/builder:20-wine
  .circleci/config.yml
Labels: maintenance :wrench:

#1512 ci: add scripts for trusting PRs from forks to allow CI to run
  .circleci/config.yml
  .github/workflows/cleanup-all-temp-trusted-branches.yml
  .github/workflows/trust-fork-pr-cleanup.yml
  .github/workflows/trust-fork-pr.yml
  docs/contributing/ci.md
  docs/contributing/images/ci-copy-fork-branch.png
  docs/contributing/images/ci-tests-running.png
  package.json
  scripts/git-clone-fork-to-trusted-branch.sh
Labels: docs :books:, maintenance :wrench:

#1518 docs: resolve image and warning formating
  docs/contributing/architecture.md
  docs/contributing/ci.md
Labels: docs :books:
